/* 
Esta es la forma en la que el profesor acomoda estilos en cada clase, id, etiqueta, etc.:
1. Posicionamiento
2. Modelo de caja
3. Tipografía
4. Visuales
5. Otros */

:root {
  /* Variables de color */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #201e1c;
  --warm-black: #282623;
  --grey: #bababa;
  --dark-grey: #757575;
  --soft-grey: #808080;
  --off-white: #faf8f7;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  /* Add property below to have a smooth scroll */
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  align-items: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
}

.header-title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
}

.header-title-container h1 {
  font-size: 2.4rem;
  font-weight: 700;
  /* line-height is used for "interlineado" */
  line-height: 2.6rem;
  color: var(--white);
}

.header-title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
  margin-top: 24px;
}

.header-title-container .header-btn {
  /*when using position "absolute" we can use top, right, bottom or left to move the element*/
  position: absolute;
  top: 270px;
  display: block;
  margin-top: 35px;
  /*This below is an easier way to center the button*/
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*Sombra*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.823rem;
  color: var(--black);
  text-decoration: none;
}

.header-btn span {
  display: inline-block;
  width: 12px;
  height: 7.41px;
  margin-left: 10px;
  background-image: url("../assets/icons/down-arrow.svg");
  /* vertical-align is used to align elements like "inline-block" */
  vertical-align: middle;
}

main {
  width: 100%;
  /* It is a good practice to add a min width: 320px for mobile so styles don't break when going below 320px */
  min-width: 320px;
  /* Content in main will define height automatically */
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container-title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container .bg-img {
  width: 195px;
  height: 195px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("../assets/img/Bitcoin.svg");
  /* Good practices for images below */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container .main-exchange-container-title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container .main-exchange-container-title p {
  margin-bottom: 48px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--dark-grey);
}

/* Currency Table styles */

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 220px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
  /* Two lines below move the "Monedas" title to the left. */
  /* position: relative;
  right: 48px; */
  margin-bottom: 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.344rem;
  color: #ff9536;
}

.currency-table--container {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  /* This is the height that controls each individual td height */
  height: 156px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
  /* text-align: start; */
}

.currency-table--container td {
  /* padding-left: 20px; */
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.936rem;
  color: #b5b0ac;
  background-color: var(--white);
}

.currency-table--container .table__top-left {
  border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -ms-border-radius: 8px 0 0 0;
  -o-border-radius: 8px 0 0 0;
}
.currency-table--container .table__top-right {
  border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  -ms-border-radius: 0 8px 0 0;
  -o-border-radius: 0 8px 0 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  -moz-border-radius: 0 0 0 8px;
  -ms-border-radius: 0 0 0 8px;
  -o-border-radius: 0 0 0 8px;
}
.currency-table--container .table__bottom-right {
  border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  -ms-border-radius: 0 0 8px 0;
  -o-border-radius: 0 0 8px 0;
}

.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.694rem;
  color: var(--dark-grey);
}

.currency-table--container .down {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 6px;
  margin-left: 10px;
  background-image: url("../assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: 173px;
  height: 31px;
  margin: 0 auto;
  margin-top: 16px;
  /*The padding below is used to generate internal spacing in the container so that the text aligns vertically*/
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.452rem;
}

/* Comissions table styles */

.main-comissions-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 220px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: "Inter", sans-serif;
}

.main-comissions-table .comissions-table--title {
  margin-bottom: 12px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.344rem;
  color: var(--secondary-blue);
}

.main-comissions-table .comissions-table--container {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  height: 156px;
  margin: 0 auto;
}

/* The styles below allow the table to take the full space stablished by the dimensions that were defined in the divs before */
.comissions-table--container table {
  width: 100%;
  height: 100%;
  /* text-align: start; */
}

.comissions-table--container td {
  /* padding-left: 20px; */
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.936rem;
  color: #b5b0ac;
  background-color: var(--white);
}

.comissions-table--container .table__top-left {
  border-radius: 8px 0 0 0;
  -webkit-border-radius: 8px 0 0 0;
  -moz-border-radius: 8px 0 0 0;
  -ms-border-radius: 8px 0 0 0;
  -o-border-radius: 8px 0 0 0;
}
.comissions-table--container .table__top-right {
  border-radius: 0 8px 0 0;
  -webkit-border-radius: 0 8px 0 0;
  -moz-border-radius: 0 8px 0 0;
  -ms-border-radius: 0 8px 0 0;
  -o-border-radius: 0 8px 0 0;
}

.comissions-table--container .table__bottom-left {
  border-radius: 0 0 0 8px;
  -webkit-border-radius: 0 0 0 8px;
  -moz-border-radius: 0 0 0 8px;
  -ms-border-radius: 0 0 0 8px;
  -o-border-radius: 0 0 0 8px;
}
.comissions-table--container .table__bottom-right {
  border-radius: 0 0 8px 0;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  -ms-border-radius: 0 0 8px 0;
  -o-border-radius: 0 0 8px 0;
}

.comissions-table--container .table__right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.694rem;
  color: var(--dark-grey);
}

.main-comissions-table .comissions-table--date {
  width: 173px;
  height: 31px;
  margin: 0 auto;
  margin-top: 16px;
  /*The padding below is used to generate internal spacing in the container so that the text aligns vertically*/
  padding: 8px;
  background-color: var(--soft-blue);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.comissions-table--date p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.452rem;
}

.main-product-detail {
  /* We use position relative here so we can place the floating potato logo */
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 30px 10px;
  background-color: var(--black);
}

.product-detail--batata-logo {
  /* Position absolute is used for the logo itself so it will adjust to to the prior container with positon: relative */
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("/assets/icons/batata.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
}

.product-detail--title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--white);
}

.product-detail--title p {
  margin-bottom: 32px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-grey);
}

.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 152px;
  margin: 15px auto;
  padding: 18px;
  background-color: var(--warm-black);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
  background-image: url("/assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .eye {
  display: inline-block;
  width: 22px;
  height: 16px;
  margin-bottom: 8px;
  background-image: url("/assets/icons/eye.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .dollar-sign {
  display: inline-block;
  width: 12px;
  height: 22px;
  margin-bottom: 8px;
  background-image: url("/assets/icons/dollar-sign.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.product-detail--card .check-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
  background-image: url("/assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title {
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--white);
}

.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-grey);
}

.bitcoin-img-container {
  width: 100%;
  min-height: 320px;
  height: 50vh;
  text-align: center;
  background-image: url("/assets/img/bitcoinbaby4x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bitcoin-img-container h2 {
  /* Use padding-top instead of margin-top */
  padding-top: 64px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 64px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 64px;
}

.plans--title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p {
  margin-bottom: 34px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--dark-grey);
}

.plans-container--card {
  position: relative;
  width: 60%;
  min-width: 190px;
  max-width: 300px;
  height: 247px;
  margin: 50px auto 0px;
  padding: 0 15px;
  background-color: var(--white);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .basic, .plans-container--card .professional {
  /* Position absolute is required to work with top and left. */
  position: absolute;
  width: 101px;
  height: 31px;
  /* To center text directily with a p tag use padding */
  padding: 7.5px;
  /* Use top and left to make recommended go out of the card */
  top: -15.5px;
  left: calc(50% - 50.5px);
  background-color: var(--grey);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}


.plans-container--card .recommended {
  /* Position absolute is required to work with top and left. */
  position: absolute;
  width: 101px;
  height: 31px;
  /* To center text directily with a p tag use padding */
  padding: 7.5px;
  /* Use top and left to make recommended go out of the card */
  top: -15.5px;
  left: calc(50% - 50.5px);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.plan-card--title {
  padding-top: 31px;
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.plan-card--price {
  padding: 5px 0px;
  font-family: "Inter", sans-serif;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
}

.plan-card--price span {
  /* To make the dollar sign go top and not interfere with the price centering, use position absolute */
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.452rem;
  /* top and left only work when position:absolute has been defined */
  top: 62.5px;
  left: calc(50% - 40px);
}

.plan-card--saving {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.452rem;
  margin-top: 5px;
  color: var(--dark-grey);
}

.plan-card--cta-basic, .plan-card--cta-professional{
  width: 150px;
  height: 48px;
  margin-top: 16px;
  padding-left: 4px;
  background-color: var(--off-white);
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "DM Sans";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: var(--black);
}

.plan-card--cta {
  width: 150px;
  height: 48px;
  margin-top: 16px;
  padding-left: 4px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-family: "DM Sans";
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: var(--black);
}

.plan-info-container button span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-image: url("/assets/icons/orange-right-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-card--price .card__dollar-sign {
  /* To make the dollar sign go top and not interfere with the price centering, use position absolute */
  position: absolute;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.452rem;
  /* top and left only work when position:absolute has been defined */
  top: 62.5px;
  left: calc(50% - 53px);
}

