header img {
  width: 225px;
  height: 36px;
}

.header-title-container h1 {
  font-size: 2.8rem;
}

.header-title-container p {
  font-size: 1.8rem;
}

.header-title-container .header-btn {
  width: 300px;
  font-size: 1.8rem;
}

.main-exchange-container .bg-img {
  width: 225px;
  height: 225px;
}

.main-exchange-container .main-exchange-container-title h2 {
  font-size: 2.8rem;
}

.main-exchange-container .main-exchange-container-title p {
  font-size: 1.8rem;
}

.product-detail--batata-logo {
  position: absolute;
  width: 65px;
  height: 30px;
  top: -15px;
  left: calc(50% - 30px);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail--title h2 {
    font-size: 2.8rem;
}

.product-detail--title p {
    font-size: 1.8rem;
}

.bitcoin-img-container h2 {
    font-size: 2.8rem;
}

.plans--title h2 {
    font-size: 2.8rem;
}

.plans--title p {
    font-size: 1.8rem;
}

.main-tables-container {
  width: 930px;
  margin: 0 auto;
}

.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  /* I was going insane because I had an overflow when giving the container the same width as the breakpoint. However the solution I found was to give the container a little less width than the breakpoint */
  width: 910px;
  margin: 0 auto;
}

.main-tables-container::-webkit-scrollbar {
  display: none;
}

.plans-container--slider {
  justify-content: center;
  width: 930px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.plans-container--slider::-webkit-scrollbar {
  display: none;
}
